<div class="logo-name-wrapper d-flex pt-2 px-4">
    <div>
        <img src="../../../assets/images/logo.png" width="50px" height="50px">
    </div>
    <div>
        <a [routerLink]="['']" class="logo-name"><h5 class="py-3 fw-bold">Food <span class="text-warning">Service</span></h5></a>
    </div>
</div> 
<div class="container-fluid center-box">
    <div class="entire-login-form">
        <form [formGroup]="updateDetails" (submit)="formsubmit()" class="px-5 py-5">
            <p class="note-back fw-bold">Update Password!</p>
            <div class="email">
                <label class="fw-bold">Old Password:</label>
                <input type="text" formControlName="TempPassword" class="input-box-size" required>
                <div *ngIf="tempPass?.errors &&(tempPass?.touched || tempPass?.dirty)" class="text-danger">
                    <p *ngIf="tempPass?.hasError('required')">Old Password is required*</p>
                </div>
            </div>
            <div class="password pt-1">
                <label class="fw-bold">New Password:</label>
                <div class="d-flex">
                    <div>
                        <input type="password" formControlName="NewPassword" class="input-box-size" required>
                    </div>
                </div>
                <div *ngIf="newPass?.errors && (newPass?.touched || newPass?.dirty)" class="text-danger">
                    <p *ngIf="newPass?.hasError('required')">Password is required*</p>
                </div>
            </div>
            <div class="password pt-1">
                <label class="fw-bold">Confirm Password:</label>
                <div class="d-flex">
                    <div>
                        <input type="password" formControlName="UserPassword" class="input-box-size" required>
                    </div>
                </div>
                <div *ngIf="userPassword?.errors && (userPassword?.touched || userPassword?.dirty)" class="text-danger">
                    <p *ngIf="userPassword?.hasError('required')">Password is required*</p>
                    <p *ngIf="userPassword?.hasError('mismatchPassword')">Passwords don't match</p>
                </div>
            </div>
            <div class="whole-login-btn px-3 pt-3">
                <button class="login-btn" type="submit">Update Password</button>
            </div>
        </form>
    </div>
</div>

