.center-box {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 100px;
  background: url("../../../assets/images/foodupdate.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.note-back {
  font-size: 25px;
  text-align: center;
}
.entire-login-form {
  width: 450px;
  box-shadow: 0px 0px 20px 0px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: #fff;
  height: max-content;
}
.email,
.password {
  display: flex;
  flex-direction: column;
}
.input-box-size {
  width: 350px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 7px;
}
.click-register-link {
  text-align: right;
}
.register-forms {
  text-decoration: none;
  color: white;
}
.whole-login-btn {
  display: flex;
  justify-content: center;
}
.login-btn {
  border: 1px solid white;
  background-color: #ffc700;
  color: #fff;
  font-weight: 700;
  border-radius: 7px;
  text-align: center;
  width: 150px;
  height: 30px;
}
.login-btn:hover {
  transform: scale(1.1);
  transition: transform 0.5 ease;
}

.toast-right-top {
  height: auto !important;
}
.password-operation {
  border: none;
  outline: none;
  box-shadow: none;
  margin-left: -35px;
  margin-top: 2px;
  border-radius: 20px;
  background-color: #fff;
}

.logo-name {
  color: #fff;
  text-decoration: none;
}
.logo-name-wrapper {
  position: absolute;
}
