*:not(.icon) {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.button-area {
  background-color: #ffc700;
  border: 1px solid #fff;
  border-radius: 30px;
}
.navbar-size {
  width: auto;
  height: auto;
  color: #fff;
}
.login-btn-size {
  width: 20px;
  height: 20px;
}
.register-btn,
.login-btn {
  background-color: #ffc700;
  border-radius: 7px;
  border: 1px solid #fff;
  padding: 5px;
  width: 100px;
}
.login-btn a {
  text-decoration: none;
  color: #fff;
}
.login-outter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
