<div class="container-fluid bg-light">
    <div class="wrapper container">
       <div class="py-5">
        <img src="../../../assets/images/logo.png" alt="logo" class="logo-size">
        <p class="brand-name">Food <span class="service-text-color">Service</span></p>
       </div>
       <div class="py-5">
        <ul>
            <p class="fw-bold">Company</p>
            <li>Home</li>
            <li>Services</li>
            <li>FAQ</li>
            <li>Reviews</li>
            <li>Stories</li>
        </ul>
       </div>
       <div class="py-5">
        <ul>
            <p class="fw-bold">Explore</p>
            <li>Food</li>
            <li>Drinks</li>
            <li>Pizza</li>
            <li>Dessert</li>
        </ul>
       </div>
       <div class="py-5">
        <ul>
            <p class="fw-bold">Get Started</p>
            <li>Order Status</li>
            <li>Delivery</li>
            <li>Booking</li>
            <li>reservation</li>
        </ul>
       </div>
       <div class="py-5">
        <ul>
            <p class="fw-bold">Links</p>
            <li>Home</li>
            <li>Best Foods</li>
            <li>About</li>
            <li>feedback</li>
        </ul>
       </div>
       <div class="py-5">
        <ul>
            <p class=" fw-bold">Terms</p>
            <li>Privacy</li>
            <li>Ploicy</li>
            <li>Terms</li>
            <li>Payment</li>
            <li>Services</li>
        </ul>
       </div>
    </div>
</div>